/*
Author: Cris Turner
File: styles.css
Date: Sept 9, 2025
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url(../images/leaves.png);
  font-family: 'Courier New', Arial, sans-serif;
  background-size: cover;
  
}

#blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.container {
  max-width:700px;
  margin:0 auto;
  
}

/* header and main together */
#pleasework{
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #e6e7e1c9;
  backdrop-filter: blur(5px);
}
header, main {
  display:inline-block;
  vertical-align: middle;
}

/* img */
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

/* header */
header {
  width: 270px;
  margin: 0 auto;
}

#me-and-h3 {
  width:270px;
}

h1 {
  text-align: center;
}

h3 {
  display: inline-block;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  width: 10%;
  margin: 0;
  padding-bottom: 50px;
}

#me {
  width:231px;
  display: inline-block;
}

/* nav */
nav ul {
  
  width: 280px;
  padding: 0;
  list-style-type: none;
  margin-left: 5%;
  margin-bottom: 10px;
  text-align: center;
  
}

nav li {
  display: inline-block;
  border: 1px solid;
  margin: 2px 0;
  border-radius: 10px;
  background-color: #e6e7e1be;

  
}

nav li:hover {
  background-color: #9aff5fa1;
}
nav li a {
  display: block;
  color:#000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* main */
main{
  width:270px;
  margin: 10px 10px;
  border: 4px dotted;
}

p {
  font-size: 16px;
}

iframe {
  width: 200px;
  height: 200px;
}

/* footer */