/*    :D      */
 
body {
  background-color: rgb(97, 100, 86);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: solid;
  border-radius: 20px;
  padding: 20px;
  font-family:"Courier New";
}

header {
  color: rgb(92, 126, 109);
  background-color:rgb(231, 227, 210);
  border-radius: 20px;
}
main {
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: rgb(231, 227, 210);
}
.main-p {
  position: static;
  border: solid; 
  border-radius: 20px;
  width: 90%;
  margin: auto;
}
img {
  padding-top: 5px;
  border-radius: 80px;
  max-width: 100%;
  height: auto;

}

.paragraph {
  width: 80%;
  margin: auto;
}

.aside { 
  width: 50%;
  margin: auto;
}
ol {
  padding-right: 30px
}

footer {
  background-color:rgb(231, 227, 210);
  border-radius: 20px;
  height: 40px;
  margin:10px auto;
  width: 100%;
}

#copyr {
  padding-top: 12px;
}
