body {
  font-family: "Press Start 2P", system-ui;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: white;
  overflow: hidden;
}

.gameArea {
  position: absolute;
  width: 600px;
  height: 400px;
  background: rgba(7, 26, 49, 0.6);
  top: 182px;
  border: #919bbec7 10px solid;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  transform:perspective(1000px) rotateX(32deg) scaleX(0.54) scaleY(0.84);
}

.bg {
  position: absolute;
  height: 1000px;
  z-index: -1;
}

.paddle {
  height: 100px;
  width: 20px;
  background: rgb(255, 0, 34);
  position:absolute;
  top: 150px;
  border-radius: 5px;
}

.paddle2 {
  right: 0;
  background: rgb(104, 255, 3);
}

.ball {
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgb(255, 174, 0);
  border-radius: 2px;
  left: 290px;
  top: 190px;
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.9);
}

.net {
  position: absolute;
  border-right: 8px rgba(225, 225, 225, 0.3) dotted;
  height: 99%;
  top: 2%;
  left: calc(50% - 4px);
}

.title {
  position: absolute;
  top: 88px;
  font-size: 26px;
}

.score {
  position: absolute;
  top: 88px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.player1Score {
  left: calc(50% - 200px)
}

.player2Score {
  right: calc(50% - 200px)
}

.startText {
  position: absolute;
  margin: 0;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #222;
}

/* i left off at 48:18 */